@use '../abstracts/variables';

html * {
    font-family: variables.$primary-font;
}




html {
  font-size: 18px;
 
  background-color: #faf8f5;
}



.container {
  max-width: 1300px;
  margin: 0 auto;
}



